.logo_centrado{
    display: inline-block; 
}

.logo{
    width: 160px;
}

h2{
    margin: 15px 0;
}

/* Footer */
footer{
    background-color: #F4F4ED;
    height: 450px;
    text-align: center;
    padding-top: 20px;
}

footer p{
    margin: auto;
}

.copyright{
    display: flex;
    margin-bottom: 20px;
}

.sectionFooter{
    width: 400px;
    margin: auto;
}

.container{
    margin-bottom: 50px;
}